body {
  padding: 0;
  margin: 0;
  line-height: 36px;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

* {
  box-sizing: border-box;
}

.page {
  position: relative;
  background-image: url("../img/treesky.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -65px;
  background-blend-mode: normal;
}

.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), white, white, white, transparent, rgba(255, 255, 0, 0.2));
  pointer-events: none;
  z-index: -1;
}

/* Animation for header */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px 30px;
  /* background: rgb(241, 241, 241, .5) url("../img/bg-page.png") no-repeat top center; */
  background: url("../img/bg-page.png") no-repeat top center;

  -webkit-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;

  backdrop-filter: blur(2px);
  
  /* border-bottom-left-radius: 1500px; */
  border-bottom-right-radius: 1500px;

  animation: fadeIn .5s ease-in-out;
}

@media (max-width: 768px) {
    header {
        justify-content: space-between;
        border-bottom-right-radius: 0;
    }
    .page {
      background-image: none;
    }
}


main {
  padding: 24px 30px;
}

section {
  font-size: 22px;
}

hr {
  width: 60%;
  margin-left: 0;
}

h1 {
  font-size: 36px;
  font-family: "Comic Sans MS";
  line-height: normal;
  color: #ff4400;
  margin-top: 0;
}

h2 {
  font-size: 32px;
  font-family: "Comic Sans MS";
  line-height: normal;
  color: #4470c4;
}

.myname {
  font-family: "Comic Sans MS";
  color: white;
  background-color: #ff9966;
}

.inplaceicon {
  height: 24px;
}

.image-classnumber {
  height: 1.4em;
  vertical-align: sub;
  display: inline-block;
  transition: transform 0.5s ease;
}

.image-classnumber:hover {
  transform: rotateZ(360deg) scale(.5);
}

.carousel {
  width: 30%;
  margin: 0 auto;
}


.cardicon {
  width: 100px;
  margin-bottom: 20px;
}

aside {
  margin: 20px 0;
  color: #c4c4c4;
}

pre,
code {
  font-family: "Courier New", "Courier", monospace;
  color: #6a2cce;
}

pre {
  line-height: normal;
}

blockquote {
  padding-left: 14px;
  border-left: 2px solid #6a2cce;

  color: #6a2cce;
}

cite {
  color: #222222;
}

time {
  color: #6a2cce;
}

a[href] {
  color: #0099ef;
  text-decoration: none;
}

.avatar {
  border-radius: 50%;
  border-bottom: 5px solid rgb(202, 224, 248);
  width: 120px;
}

.skills dd {
  margin: 0;
  margin-bottom: 10px;

  background-color: #e8e8e8;
}

.skills-level {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #4470c4;
}

.skills-level-ok {
  background-color: #47bb52;
}

.days {
  list-style: none;
  padding-left: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}

figure img {
  width: 400px;
  vertical-align: middle;
  border: 8px solid rgb(202, 224, 248);
  border-radius: 8px 8px 0 0;
}

figcaption {
  width: 416px;
  padding-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-style: italic;
  text-align: center;
  background-color: rgb(202, 224, 248);
  border-radius: 0 0 8px 8px;
}

/*================================ city*/
figure.city img {
  width: 280px;
  margin-right: 10px;
}

figure.city figcaption {
  width: 280px;
}

figure.city a[href] {
  color: white;
  text-decoration: underline;
}


figure.city.evpatoria img {
  border: 8px solid #ff9966;
}

figure.city.evpatoria figcaption {
  background-color: #ff9966;
}

figure.city.sovgavan img {
  border: 8px solid #99dd66;
}

figure.city.sovgavan figcaption {
  background-color: #99dd66;
}

figure.city.minsk img {
  border: 8px solid #4470c4;
}

figure.city.minsk figcaption {
  background-color: #4470c4;
}

figure.city.nn img {
  border: 8px solid burlywood;
}

figure.city.nn figcaption {
  background-color: burlywood;
}

figure.city.ryazan img {
  border: 8px solid gold;
}

figure.city.ryazan figcaption {
  background-color: gold;
}

figure.city.samara img {
  border: 8px solid darkturquoise;
}

figure.city.samara figcaption {
  background-color: darkturquoise;
}

figure.city.sp img {
  border: 8px solid #aa44dd;
}

figure.city.sp figcaption {
  background-color: #aa44dd;
}

figure.city.kazan img {
  border: 8px solid olivedrab;
}

figure.city.kazan figcaption {
  background-color: olivedrab;
}

figure.city.kg img {
  border: 8px solid darkorange;
}

figure.city.kg figcaption {
  background-color: darkorange;
}

figure.city.sochi img {
  border: 8px solid rgb(73, 150, 108);
}

figure.city.sochi figcaption {
  background-color: rgb(73, 150, 108);
}

figure.city.novg img {
  border: 8px solid rgb(53, 117, 140);
}

figure.city.novg figcaption {
  background-color: rgb(53, 117, 140);
}

.danger-text {
  color: #ff4400;
}

.danger-block {
  padding: 5px 10px;
  background-color: #ffd0bf;
}

.no-danger-block {
  padding: 5px 10px;
  background-color: #c6f5f0;
}

ul {
  /*padding: 0;*/
  list-style: none;
}

.hobby-item {
  font-style: italic;
}

.hobby-fencing {
  color: #dd9966;
}

.hobby-music {
  color: #99dd66;
}

.hobby-computer {
  color: #9966ff;
}

.site-footer {
  margin: 0;
  padding: 0;
  /*min-width: 550px;*/
  background-color: #4470c4;
  color: #ffffff;
  text-align: center;

  -webkit-box-shadow: -1px -6px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px -6px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px -6px 8px 0px rgba(34, 60, 80, 0.2);
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.version-label {
  font-size: 8px;
}

.cell-number {
  text-align: center;
}

.top-section {
  background-color: white;
  margin-top: 180px;
}

thead.sport-table-header {
  text-align: center;
  vertical-align: middle;
}

thead.sport-table-header th {
  padding: 0 10px;
  color: #666666;
  font-family: Calibri, serif;
}

tbody.sport-table-tbody {
  vertical-align: middle;
  color: gray;
}

.card-norma {
  width: 500px;
}