.effect-rotate-1 {
    transform: rotate(1deg);
}

.effect-rotate--1 {
    transform: rotate(-1deg);
}

.effect-rotate--2 {
    transform: rotate(-1deg);
}

.effect-skew-1 {
    transform: skew(3deg);
}
